@section Head {
    <title>Spreadsheet - List</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css">
}

@section Scripts {
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var table = $("#user-table").DataTable({
                responsive: true
            });
        });
    </script>
    <script src="~/js/main.js"></script>
}

<body style="color:#e5e5e5;">
    <div class="limiter">
        <div class="container-login100" style="background-image: url('@Url.Content("~/images/bg-01.jpg")');">
            <div class="custom-table">
                <h1 class='page-title'>Users</h1>
                <table id="user-table" class="display" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Username</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody style="color:black">
                        @foreach (var Items in Model.users)
                        {
                            <tr>
                                <td>@Items</td>
                                <td>
                                    <a class="btn btn-danger deleteButton" href="@Url.Content("~/UserList/DeleteUser?username=")@Items"><i class="glyphicon glyphicon-trash"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

                <div style="clear:both"></div>
                <hr />
                <div class="form-group custom-form">
                    <div style="display: inline-block">
                        <form>
                            <a class="btn btn-outline-success" href="@Url.Content("~/UserList/CreateUser")"><i class="glyphicon glyphicon-plus"></i> Add New User</a>
                            <a class="btn btn-outline-dark" href="@Url.Content("~/Home/SpreadsheetList")"><i class="glyphicon glyphicon-random"></i> Redirect to Spreadsheet List</a>
                            <a class="btn btn-outline-danger" href="@Url.Content("~/Home/Logout")"><i class="glyphicon glyphicon-user"></i> Sign out</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>